// page reload
#pre-loader {
    position: fixed;
    inset: 0;
    z-index: 99999;
    background: var(--neutral-color-100);

    .loader {
        width: var(--size-800);
        aspect-ratio: 1;

        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
}

@keyframes loader {
    0% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        transform: rotate(0deg);
    }
    50% {
        border: 4px solid #673ab7;
        border-left-color: transparent;
        transform: rotate(180deg);
    }
    100% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        -webkit-transform: rotate(0deg);
    }
    50% {
        border: 4px solid #673ab7;
        border-left-color: transparent;
        -webkit-transform: rotate(180deg);
    }
    100% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        -webkit-transform: rotate(360deg);
    }
}

// header -top nav
.top-nav {
    position: relative;
    color: var(--text-color);

    &__left,
    &__right {
        display: flex;
        align-items: stretch;
    }

    &__left {
        .nav-list {
            li {
                padding-inline: var(--size-400);
                display: flex;
                align-items: center;
                gap: var(--size-200);

                &:first-child {
                    position: relative;
                }

                &:first-child::after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 100%;
                    background-color: var(--neutral-color-400);
                    position: absolute;
                    top: 0;
                    right: -8px;
                }
            }
        }
    }

    &__right {
        justify-content: flex-end;

        .language-option {
            display: flex;
            gap: var(--size-200);

            .switch {
                display: flex;
                gap: var(--size-100);
                align-items: center;
                cursor: pointer;
            }
        }
    }
}

// header - bottom nav
.bottom-nav {
    .primary-bottom-nav {
        display: flex;
        justify-content: flex-end;

        .nav-list {
            gap: var(--size-800);

            li {
                position: relative;

                > a {
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: inline-block;
                        opacity: 0;
                        transition: all 300ms ease-in-out;
                        width: 100%;
                        height: 2px;
                        background-color: var(--accent-color-400);
                    }

                    span {
                        color: var(--neutral-color-800);
                        font-weight: var(--fw-semi-bold);
                    }
                }

                &:hover {
                    > a {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// hero section
.hero {
    min-height: 70vh;
    min-height: 70dvh;
    position: relative;

    &__content {
        position: relative;
        z-index: 5;

        .booking-form {
            background-color: var(--neutral-color-100);
            border-radius: var(--size-200);
            padding-inline: var(--size-800);
        }
    }

    &__text {
        color: var(--neutral-color-150);
    }

    &__slider {
        position: absolute;
        inset: 0;
    }
}

// custom jquery nice select ui
.booking-form {
    --form-size: 360px;

    min-width: var(--form-size);

    // custom form control bootstrap
    .form-control {
        border: 1px solid var(--neutral-color-400);
    }

    .select-option {
        .nice-select {
            padding-inline: var(--size-400);
            padding-block: var(--size-400);
            border-radius: var(--size-100);
            outline: none;
            width: 100%;
            float: none;
            display: flex;
            align-items: center;

            &::after {
                border-bottom: 2px solid var(--accent-color-400);
                border-right: 2px solid var(--accent-color-400);
                width: var(--size-300);
                height: var(--size-300);
                margin-top: 0;
                right: 20px;
                top: 26%;
            }

            span {
                color: var(--neutral-color-800);
                font-weight: var(--fw-semi-bold);
            }

            .list {
                margin-top: 0;
                width: 100%;

                .option {
                    padding: 0 var(--size-400);
                    color: var(--text-color);

                    &.selected {
                        font-weight: var(--fw-semi-bold);
                    }
                }
            }
        }
    }

    .submit-btn {
        display: flex;
        justify-content: center;
    }
}

// hero slider
.hero__slider {
    height: 100%;

    &.owl-carousel {
        .owl-stage-outer {
            height: 100%;

            .owl-stage {
                height: 100%;

                .owl-item {
                    height: 100%;

                    .slider-item {
                        height: 100%;
                    }
                }
            }
        }
        .owl-dots {
            position: absolute;
            inset: auto auto 10px 50%;
            transform: translateX(-50%);
            display: flex;
            gap: var(--size-200);

            .owl-dot {
                border-radius: 50%;
                background-color: var(--neutral-color-150);
                opacity: 0.5;
                width: var(--size-200);
                height: var(--size-200);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                &.active {
                    border-radius: 500px;
                    width: var(--size-800);
                }
            }
        }
    }
}

// services section
.services{
    .service-item{
        padding-inline: var(--size-600);
        padding-block: var(--size-800);
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            background-color: var(--accent-color-400);
            color: var(--neutral-color-150);

            .service-icon{
                fill: var(--neutral-color-150);
            }
        }
    }

    .service-item:hover{
        background-color: var(--accent-color-400);
    }
}
