// page reload
#pre-loader {
    position: fixed;
    inset: 0;
    z-index: 99999;
    background: var(--neutral-color-100);

    .loader {
        width: var(--size-800);
        aspect-ratio: 1;

        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
}

@keyframes loader {
    0% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        transform: rotate(0deg);
    }
    50% {
        border: 4px solid #673ab7;
        border-left-color: transparent;
        transform: rotate(180deg);
    }
    100% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        -webkit-transform: rotate(0deg);
    }
    50% {
        border: 4px solid #673ab7;
        border-left-color: transparent;
        -webkit-transform: rotate(180deg);
    }
    100% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        -webkit-transform: rotate(360deg);
    }
}

// top nav
.top-nav {
    position: relative;
    color: var(--text-color);
    border-bottom: 1px solid var(--neutral-color-400);

    &__left,&__right{
        display: flex;
        align-items: stretch;
    }

    &__left {
        .nav-list {
            display: flex;
            align-items: stretch;
            gap: var(--size-400);

            li{
                padding-inline: var(--size-400);
                display: flex;
                align-items: center;
                gap: var(--size-200);

                &:first-child{
                    position: relative;
                }

                &:first-child::after{
                    content:"";
                    display: inline-block;
                    width: 1px;
                    height: 100%;
                    background-color: var(--neutral-color-400);
                    position: absolute;
                    top:0;
                    right: -8px;
                }   
            }
        }
    }

    &__right{
        justify-content: flex-end;
        
        .language-option{
            display: flex;
            gap: var(--size-200);

            .switch{
                display: flex;
                gap: var(--size-100);
                align-items:center;
                cursor: pointer;
            }
        }
    }
}
