// header -top nav
.top-nav {
    position: relative;
    color: var(--text-color);

    &__left,
    &__right {
        display: flex;
        align-items: stretch;
    }

    &__left {
        .nav-list {
            li {
                padding-inline: var(--size-400);
                display: flex;
                align-items: center;
                gap: var(--size-200);

                &:first-child {
                    position: relative;
                }

                &:first-child::after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 100%;
                    background-color: var(--neutral-color-400);
                    position: absolute;
                    top: 0;
                    right: -8px;
                }
            }
        }
    }

    &__right {
        justify-content: flex-end;

        .toggle-lang-switch {
            position: relative;
            display: flex;
            align-items: center;
            gap: var(--size-200);
            cursor: pointer;

            .current-lang {
                display: flex;
                gap: var(--size-200);
                align-items: center;
                cursor: pointer;

                .icon {
                    width: var(--size-300);
                    color: var(--neutral-color-700);
                }
            }

            &:hover {
                .lang-list {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .lang-list {
                z-index: 3;
                background-color: var(--neutral-color-100);
                position: absolute;
                top: calc(100% + 0.5rem);
                left: 0;
                font-size: var(--fs-200);
                width: 120px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;

                li {
                    padding: 0;
                    width: 100%;

                    a {
                        padding: var(--size-200) var(--size-400);
                    }

                    &:hover {
                        background-color: var(--neutral-color-300);
                    }
                }
            }
        }
    }
}

// header - bottom nav
.bottom-nav {
    .primary-bottom-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-list {
            gap: var(--size-800);

            li {
                position: relative;

                > a {
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: inline-block;
                        opacity: 0;
                        transition: all 300ms ease-in-out;
                        width: 100%;
                        height: 2px;
                        background-color: var(--accent-color-400);
                    }

                    span {
                        color: var(--neutral-color-800);
                        font-weight: var(--fw-semi-bold);
                    }
                }

                &:hover {
                    > a {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// hero section
.hero {
    min-height: 70vh;
    min-height: 70dvh;
    position: relative;

    &__content {
        position: relative;
        z-index: 5;

        .booking-form {
            background-color: var(--neutral-color-100);
            border-radius: var(--size-200);
            padding-inline: var(--size-800);
        }
    }

    &__text {
        color: var(--neutral-color-150);
    }

    &__slider {
        position: absolute;
        inset: 0;
    }
}

// custom jquery nice select ui
.booking-form {
    --form-size: 360px;

    min-width: var(--form-size);

    // custom form control bootstrap
    .form-control {
        border: 1px solid var(--neutral-color-400);
    }

    .select-option {
        .nice-select {
            padding-inline: var(--size-400);
            padding-block: var(--size-400);
            border-radius: var(--size-100);
            outline: none;
            width: 100%;
            float: none;
            display: flex;
            align-items: center;

            &::after {
                border-bottom: 2px solid var(--accent-color-400);
                border-right: 2px solid var(--accent-color-400);
                width: var(--size-300);
                height: var(--size-300);
                margin-top: 0;
                right: 20px;
                top: 26%;
            }

            span {
                color: var(--neutral-color-800);
                font-weight: var(--fw-semi-bold);
            }

            .list {
                margin-top: 0;
                width: 100%;

                .option {
                    padding: 0 var(--size-400);
                    color: var(--text-color);

                    &.selected {
                        font-weight: var(--fw-semi-bold);
                    }
                }
            }
        }
    }

    .submit-btn {
        display: flex;
        justify-content: center;
    }
}

// hero slider
.hero__slider {
    height: 100%;

    &.owl-carousel {
        .owl-stage-outer {
            height: 100%;

            .owl-stage {
                height: 100%;

                .owl-item {
                    height: 100%;

                    .slider-item {
                        height: 100%;
                    }
                }
            }
        }
        .owl-dots {
            position: absolute;
            inset: auto auto 10px 50%;
            transform: translateX(-50%);
            display: flex;
            gap: var(--size-200);

            .owl-dot {
                border-radius: 50%;
                background-color: var(--neutral-color-150);
                opacity: 0.5;
                width: var(--size-200);
                height: var(--size-200);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                &.active {
                    border-radius: 500px;
                    width: var(--size-800);
                }
            }
        }
    }
}

// services section
.services-section {
    .service-item {
        padding-inline: var(--size-600);
        padding-block: var(--size-800);
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: var(--accent-color-400);
            color: var(--neutral-color-150);

            .service-icon {
                fill: var(--neutral-color-150);
            }
        }
    }
}

// room section
.room-section,
.full-room-section {
    .room {
        &-item {
            &__price {
                font-size: var(--fs-800);
                color: var(--accent-color-400);

                span {
                    font-size: var(--fs-400);
                    color: var(--neutral-color-800);
                }
            }

            &__desc {
                min-width: fit-content;

                tbody {
                    tr {
                        display: block;

                        td {
                            &:last-child {
                                line-height: 1.4;
                            }
                        }
                    }
                }

                .feature {
                    min-width: 80px;
                }
            }
        }
    }
}

.room-section {
    --room-height: 600px;

    .room {
        &-item {
            height: var(--room-height);
            color: var(--neutral-color-150);

            &__content {
                width: fit-content;
                margin-inline: auto;
                padding-inline: var(--size-400);
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: var(--size-400);
            }

            &__price {
                span {
                    color: var(--neutral-color-150);
                }
            }
        }
    }
}

.full-room-section {
    .room {
        &-item {
            color: var(--neutral-color-800);
            border-radius: var(--size-200);
            border: 1px solid var(--neutral-color-300);

            &__image{
                img{
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

// footer
.footer {
    color: var(--neutral-color-150);

    &-content {
        background: var(--neutral-color-700);

        &__about {
            @media (max-width: 62em) {
                .footer-logo {
                    margin-inline: auto;
                }
                p {
                    max-width: 100%;
                }
            }
        }

        &__newsletter {
            --letter-input: 360px;

            .letter-form {
                margin-inline: auto;
                width: var(--letter-input);
                position: relative;
                height: 40px;
                border-radius: 500px;
                display: flex;
                align-items: stretch;
                overflow: hidden;

                input {
                    flex: 1;
                    padding: 0 1em;
                    background: rgb(57, 61, 74);
                    color: rgb(112, 112, 121);
                }

                .send-button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border-radius: 0;
                    padding: 1em 1em 1em 0.75em;

                    .icon {
                        fill: var(--neutral-color-150);
                    }
                }
            }
        }
    }

    &-copyright {
        background: var(--neutral-color-800);

        &__text {
            opacity: 0.6;
        }
    }
}
