@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* data table css */
@import url("datatables.net-dt");

:root {
    /* font family, font weight, font size */
    --ff-primary: "Be Vietnam Pro", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.75rem;
    --fs-800: 1.875rem;
    --fs-900: 2.5rem;
    --fs-1000: 3.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-normal-heading: var(--fs-500);
    --fs-label: var(--fs-500);
    --fs-nav: var(--fs-400);
    --fs-table: var(--fs-300);
    --fs-button: var(--fs-500);

    /* color */
    --accent-color-200: hsl(30, 50%, 80%);
    --accent-color-300: hsl(30, 63%, 74%);
    --accent-color-400: hsl(30, 63%, 66%);
    --accent-color-500: hsl(32, 100%, 50%);
    --accent-color-600: hsl(30, 63%, 50%);

    --primary-color-300: hsl(212, 63%, 81%);
    --primary-color-500: hsl(212, 100%, 48%);
    --primary-color-700: hsl(212, 100%, 38%);

    --success-color-500: hsl(140, 100%, 36%);
    --success-color-700: hsl(140, 84%, 31%);

    --danger-color-500: hsl(0, 100%, 50%);
    --danger-color-700: hsl(0, 76%, 44%);

    --neutral-color-100: hsl(0, 0%, 100%);
    --neutral-color-150: hsl(186, 100%, 96%);
    --neutral-color-200: hsl(210, 14%, 97%);
    --neutral-color-300: hsl(180, 1%, 87%);
    --neutral-color-400: hsl(144, 3%, 64%);
    --neutral-color-500: hsl(213, 12%, 46%);
    --neutral-color-700: hsl(225, 23%, 17%);
    --neutral-color-800: hsl(224, 24%, 15%);
    --neutral-color-900: hsl(240, 2%, 10%);

    --text-color: var(--neutral-color-500);

    /* size */
    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.5rem;
    --size-700: 2rem;
    --size-800: 2.5rem;
    --size-900: 3rem;
    --size-1000: 5rem;
}

@media (min-width: 62em) {
    :root {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
        --fs-normal-heading: var(--fs-700);
        --fs-nav: var(--fs-500);
        --fs-table: var(--fs-400);
    }
}

/* general styling */
* {
    box-sizing: border-box;
}

html {
    /* fix FOUC */
    visibility: visible;
    opacity: 1;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--text-color);
    min-height: 100vh;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

table {
    width: 100%;
    font-size: var(--fs-table) !important;
}

p {
    line-height: 1.4;
    max-width: 50ch;
}

p[data-width="narrow"] {
    max-width: 30ch;
}

p[data-width="wide"] {
    max-width: 64ch;
}

@media (max-width: 62em) {
    p {
        max-width: 100%;
    }
}

nav {
    font-size: var(--fs-nav);
}

img {
    display: block;
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

input[data-type="small"] {
    width: 15%;
    display: inline-block;
}

a,
span {
    text-decoration: none;
    color: var(--text-color);
}

/* utility class */
.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}
.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading) !important;
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading) !important;
}
.fs-normal-heading {
    font-size: var(--fs-normal-heading) !important;
}

.text-center {
    text-align: center;
}

@media (max-width: 62em) {
    .text-center-only-md {
        text-align: center;
    }
}

.padding-block-1000 {
    padding-block: var(--size-1000);
}
.padding-block-800 {
    padding-block: var(--size-800);
}
.padding-block-600 {
    padding-block: var(--size-600);
}
.padding-block-400 {
    padding-block: var(--size-400);
}
.padding-block-200 {
    padding-block: var(--size-200);
}
.padding-block-100 {
    padding-block: var(--size-100);
}

.padding-inline-600 {
    padding-inline: var(--size-600);
}

.mx-auto {
    margin-inline: auto;
}

.align-center {
    display: flex;
    align-items: center;
}
.align-stretch {
    display: flex;
    align-items: stretch;
}

.justify-center {
    display: flex;
    justify-content: center;
}
@media (max-width: 62em) {
    .justify-center-only-md {
        justify-content: center;
    }
}

/* custom container replace bootstrap container*/
.custom-container {
    --padding-container: 1rem;
    --max-width: 1500px;
    width: min(var(--max-width), 100% - 2 * var(--padding-container));
    margin-inline: auto;
}

/* page reload */
.pre-loader {
    position: fixed;
    inset: 0;
    z-index: 99999;
    background: var(--neutral-color-100);

    .loader {
        width: var(--size-800);
        aspect-ratio: 1;

        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }
}

@keyframes loader {
    0% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        transform: rotate(0deg);
    }
    50% {
        border: 4px solid #673ab7;
        border-left-color: transparent;
        transform: rotate(180deg);
    }
    100% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        -webkit-transform: rotate(0deg);
    }
    50% {
        border: 4px solid #673ab7;
        border-left-color: transparent;
        -webkit-transform: rotate(180deg);
    }
    100% {
        border: 4px solid #f44336;
        border-left-color: transparent;
        -webkit-transform: rotate(360deg);
    }
}

/* flow spacer */
.flow > :not(:first-child) {
    margin-top: var(--flow-spacer, 2em);
}

/* admin label */
.label {
    color: var(--neutral-color-800);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-label);
}

/* icon */
.icon {
    width: var(--size-600);
    aspect-ratio: 1;
    fill: var(--primary-color-500);
}

.icon[data-size="small"] {
    width: var(--size-400);
}

.detail-icon {
    fill: var(--success-color-500);
}

/* button */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-200);
    border: none;
    border-radius: var(--size-200);
    background-color: var(--primary-color-500);
    color: var(--neutral-color-150);
    padding: 0.5em;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    cursor: pointer;
    box-shadow: 0 1em 1em -1em var(--neutral-color-300);
}

.button[data-type="inverted"] {
    box-shadow: none;
    color: var(--primary-color-500);
    background-color: var(--neutral-color-100);
}

.button:hover,
.button:focus-visible {
    background-color: var(--primary-color-700);
}

.button:hover[data-type="inverted"],
.button:focus-visible[data-type="inverted"] {
    background-color: var(--neutral-color-150);
}

/* success button */
.success-button {
    background-color: var(--success-color-500);

    span {
        color: var(--neutral-color-100);
    }

    .icon {
        fill: var(--neutral-color-100);
    }
}
.success-button:hover {
    background-color: var(--success-color-700);
}

/* danger button */
.danger-button {
    background-color: var(--danger-color-500);

    span {
        color: var(--neutral-color-100);
    }

    .icon {
        fill: var(--neutral-color-100);
    }
}
.danger-button:hover {
    background-color: var(--danger-color-700);
}

/* add new button */
.add-new-button {
    position: relative;
}
.add-new-button:hover .add-new-list {
    /* show element */
    opacity: 1;
    visibility: visible;
}
.add-new-button .add-new-list {
    z-index: 999;
    background: var(--neutral-color-100);
    padding-block: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: var(--size-200);
    color: var(--neutral-color-700);
    font-weight: var(--fw-regular);
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;

    /* hide element */
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;

    .icon {
        fill: var(--neutral-color-700);
    }

    > li {
        padding: 0.75em;
        display: flex;
        gap: var(--size-200);
    }

    > li:hover {
        background: var(--neutral-color-300);
    }
}

/* toggle columns button */
.toggle-columns-button {
    position: relative;
}
.toggle-columns-button .toggle-columns-list {
    z-index: 999;
    background: var(--neutral-color-100);
    padding: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: var(--size-200);
    color: var(--neutral-color-700);
    font-weight: var(--fw-regular);
    position: absolute;
    top: 100%;
    right: 0;

    column-count: 2;
    column-gap: var(--size-600);
    max-height: 200px;
    width: fit-content;

    /* hide element */
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;

    > li {
        line-height: 2.4;
        display: grid;
        grid-template-columns: min-content 1fr;
        align-items: center;

        .form-check-label {
            text-wrap: nowrap;
            text-align: left;
        }
    }
}
.toggle-columns-button .toggle-columns-list.show {
    /* show element */
    opacity: 1;
    visibility: visible;
}

/* update button */
.update-buttons {
    padding: var(--size-200);
    display: flex;
    justify-content: flex-end;
    gap: var(--size-200);
}

/* divider section */
.section-divider {
    border-bottom: 1px solid var(--neutral-color-400);
}

/* nav wrapper */
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-700);
}
.nav-list {
    display: flex;
    align-items: stretch;
    gap: var(--size-400);
}

.social-list {
    display: flex;
    gap: var(--size-400);
}
.social-list[data-size="big"] {
    gap: var(--size-600);
}
.social-list[data-size="big"] .social-icon {
    width: var(--size-600);
    height: var(--size-600);
}
.social-list[data-type="inverted"] .social-icon {
    color: var(--neutral-color-150);
}

.policy-list {
    display: flex;
    gap: var(--size-800);
}

/* set background image */
.set-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Admin */
/* main content */
.room-section {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--neutral-color-200);
}

/* side bar */
.side-bar {
    display: flex;
    flex-direction: column;
    gap: var(--size-200);
}

/* box */
.box {
    border-radius: var(--size-200);
    background-color: var(--neutral-color-100);
    padding: 1em;
}

.form-box {
    border: 0.5px solid var(--neutral-color-300);
    padding: 0;
    overflow: hidden;
}
.form-box__title {
    padding-inline: var(--size-400);
    background: var(--neutral-color-200);

    label {
        font-weight: var(--fw-bold);
    }
}
.form-box__title label {
    font-weight: var(--fw-bold);
}
.form-box__content {
    padding-inline: var(--size-400);
}

/* record quantity */
.record-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
}
.record-quantity .nice-select {
    border: none;
    background: transparent;
    font-size: var(--fs-300);
}
.record-quantity .nice-select:focus {
    background: var(--neutral-color-300);
}

/* radio select */
.radio-select {
    display: inline-flex;
    gap: var(--size-200);
    align-items: center;
}
.radio-select > input {
    align-self: stretch;
}

/* filter options */
.filter-options {
    width: 100%;

    .filter-buttons {
        display: inline-flex;
        gap: var(--size-300);
    }
}

/* tab content bootstrap table */
.tab-content > table > tbody > tr {
    width: 100%;
    padding: 1em;
}

/* table detail infor list */
.detail-infor-list {
    padding: var(--size-200);
}
.detail-infor-list .detail-content {
    width: 100%;
    background: var(--neutral-color-100);
    max-height: 600px;
    column-count: 2;
    column-gap: var(--size-200);
}
.detail-infor-list .detail-item {
    padding: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
}
.detail-infor-list .detail-item span:first-child {
    width: 120px;
}
.detail-infor-list .detail-item span:last-child {
    flex: 1;
}

/* ẩn icon mặc định của data control trong data table */
td.dt-control::before {
    display: none !important;
}
td.dt-control .icon {
    text-align: center;
    margin-block: auto;
}

/* custom datatable */
table.dataTable > thead {
    background: var(--primary-color-300);
}

@media (max-width: 62em) {
    table.dataTable thead,
    table.dataTable td.dt-control {
        display: none;
    }

    table.dataTable tr {
        display: block;
        padding: 1em;
    }

    td {
        display: grid;
        grid-template-columns: 15ch 1fr;
        text-wrap: nowrap;
    }

    table.dataTable.row-border > tbody > tr > * {
        border-top: none;
    }
    div.dt-container.dt-empty-footer tbody > tr:last-child > * {
        border-bottom: none;
    }

    table.dataTable td.dt-type-numeric {
        text-align: left;
    }

    table.dataTable td::before {
        content: attr(data-cell) ": ";
        text-transform: capitalize;
        font-weight: var(--fw-bold);
    }
}

/* custom nav tab bootstrap */
.nav {
    gap: var(--size-100);
}

.nav-pills .nav-link{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--neutral-color-800);
    background-color: var(--neutral-color-300);
    font-size: var(--fs-600);
    padding-block: var(--size-300);
}

/* custom mutiple select tag */
.custom-select {
    position: relative;
    width: 100%;
}
.custom-select .select-box {
    background-color: var(--neutral-color-100);
    border: 1px solid var(--neutral-color-300);
    border-radius: var(--size-200); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-300);
    cursor: pointer;
}
.custom-select .selected-area{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
.custom-select .placeholder{
    background: transparent;
    color: var(--text-color);
    opacity: 1;
}
.custom-select .selected-options {
    display: flex;
    flex-wrap: wrap;
}
.custom-select .tag {
    background: #f2f2f2;
    color: var(--neutral-color-800);
    border-radius: var(--size-100);
    margin-right: var(--size-100);
    padding: var(--size-100) var(--size-300);
    display: flex;
    align-items: center;
}
.custom-select .remove-tag {
    margin-left: var(--size-200);
    cursor: pointer;
}
.custom-select .options {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--neutral-color-100);
    border: 1px solid #ced4da;
    border-top: none;
    max-height: 225px;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-select.open .options {
    display: block;
}
.custom-select .option {
    padding: var(--size-300);
    cursor: pointer;
}
.custom-select .option.active {
    color: #000;
    background-color: #f2f2f2;
    border-bottom: 1px solid #eaeaea;
}
.custom-select .tag:hover,
.custom-select .option:hover {
    background-color: #eaeaea;
}
.custom-select .no-result-message {
    padding: 0px 0px var(--size-300) var(--size-300);
}
.custom-select .error {
    color: var(--danger-color-500);
    margin-top: var(--size-200);
}

